{% extends "base.html"%}

{% block content %}
{% include "auth/nav_auth.html" %}
<div class="height-100v d-flex align-items-center justify-content-center">
    <div class="card card-authentication1 mb-0">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="{{url_for('static', filename='images/homepage/BrTurbo-logo.png')}}" width="100px"
                        alt="logo icon">
                    <div class="card-title text-uppercase pb-2">Redefinir Senha</div>
                </div>
                <p class="pb-2">Por favor, insira sua nova senha nos campos abaixo.</p>
                <form method="POST">
                    <div class="form-group">
                        {% with messages = get_flashed_messages(with_categories=True)%}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} p-3" role="alert">
                            {{message}}
                        </div>
                        {% endfor%}
                        {% endif %}
                        {% endwith %}
                        <label for="exampleInputEmailAddress" class="">Nova senha</label>
                        <div class="position-relative has-icon-right">
                            <input type="password" id="exampleInputEmailAddress" name="password"
                                class="form-control input-shadow" placeholder="Nova senha">
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                        <label for="exampleInputEmailAddress" class="">Confirme a senha</label>
                        <div class="position-relative has-icon-right">
                            <input type="password" id="exampleInputEmailAddress" name="password2"
                                class="form-control input-shadow" placeholder="Confirme a senha">
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-light btn-block mt-3">Redefinir Senha</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}