<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Passoword</title>
</head>

<body>
    <h1>Crie uma nova senha!</h1>
    <hr>
    <a href="{{url_for('home.homepage')}}">Home Page</a>

    <form action="" method="POST">
        <input type="password" name="password" placeholder="Digite sua senha nova">
        <input type="password" name="password2" placeholder="Confirme sua senha">

        <button type="submit">Salvar</button>
    </form>
</body>

</html>