{% extends "base.html"%}

{% block content %}
{% include "auth/nav_auth.html" %}
<div class="height-100v d-flex align-items-center justify-content-center">
    <div class="card card-authentication1 mb-0">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="{{url_for('static', filename='images/homepage/BrTurbo-logo.png')}}" width="100px"
                        alt="logo icon">
                    <div class="card-title text-uppercase pb-2">Redefinir Senha</div>
                </div>
                <p class="pb-2">Por favor, indique o seu endereço de email. Você receberá um link para criar uma nova
                    senha por e-mail.</p>
                <form method="POST">
                    <div class="form-group">
                        {% with messages = get_flashed_messages(with_categories=True)%}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} p-3" role="alert">
                            {{message}}
                        </div>
                        {% endfor%}
                        {% endif %}
                        {% endwith %}
                        <label for="exampleInputEmailAddress" class="">endereço de e-mail</label>
                        <div class="position-relative has-icon-right">
                            <input type="text" id="exampleInputEmailAddress" name="email"
                                class="form-control input-shadow" placeholder="Endereço de e-mail">
                            <div class="form-control-position">
                                <i class="icon-envelope-open"></i>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-light btn-block mt-3">Redefinir Senha</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-center py-3">
            <p class="text-warning mb-0">Return to the <a href="{{url_for('auth.login')}}">Login</a></p>
        </div>
    </div>
</div>

{% endblock %}