{% extends "base.html"%}



{% block content %}
<div class="card card-authentication1 mx-auto my-4">
  <div class="card-body">
    <div class="card-content p-2">
      <div class="text-center">
        <img src="{{url_for('static', filename='images/homepage/BrTurbo-logo.png')}}" width="100px" alt="logo icon">
      </div>
      <div class="card-title text-uppercase text-center py-3">Cadastre-se</div>
      <form method="POST">
        <div class="form-group">
          <label for="exampleInputName" class="sr-only">Nome</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleInputName" name='first_name' class="form-control input-shadow"
              placeholder="Seu Nome">
            <div class="form-control-position">
              <i class="icon-user"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName" class="sr-only">Sobrenome</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleInputName" name='last_name' class="form-control input-shadow"
              placeholder="Seu sobrenome">
            <div class="form-control-position">
              <i class="icon-user"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmailId" class="sr-only">Email</label>
          <div class="position-relative has-icon-right">
            <input type="email" id="exampleInputEmailId" name='email' class="form-control input-shadow"
              placeholder="Seu E-mail">
            <div class="form-control-position">
              <i class="icon-envelope-open"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword" class="sr-only">Senha</label>
          <div class="position-relative has-icon-right">
            <input type="password" id="exampleInputPassword" name="password" class="form-control input-shadow"
              placeholder="Sua Senha">
            <div class="form-control-position">
              <i class="icon-lock"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword" class="sr-only">Senha2</label>
          <div class="position-relative has-icon-right">
            <input type="password" id="exampleInputPassword" name='password2' class="form-control input-shadow"
              placeholder="Repita sua Senha">
            <div class="form-control-position">
              <i class="icon-lock"></i>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="icheck-material-white">
            <input type="checkbox" id="user-checkbox" checked="" />
            <label for="user-checkbox">eu concordo com os termos e condições</label>
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-block waves-effect waves-light">Cadastrar</button>
        <div class="text-center mt-3">Registra-se com</div>

        <div class="form-row mt-4">
          <div class="form-group mb-0 col-6">
            <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i>
              Facebook</button>
          </div>
          <div class="form-group mb-0 col-6 text-right">
            <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i>
              Twitter</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="card-footer text-center py-3">
    <p class="text-warning mb-0">Já tem uma conta? <a href="{{url_for('auth.login')}}" class='btn btn-success'>Acesse
        Aqui</a></p>
  </div>
</div>

{% endblock %}