{% extends "base.html"%}

{% block content %}

{% include "auth/nav_auth.html"%}

<div class="height-100v d-flex align-items-center justify-content-center">
    <div class="card card-authentication1 mb-0">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="{{url_for('static', filename='images/homepage/BrTurbo-logo.png')}}" width="100px"
                        alt="logo icon">
                    <div class="card-title text-uppercase pb-2">Token</div>
                </div>
                <p class="pb-2">Por favor verifique sua caixa de email e ensira o token.</p>
                <form method="POST">
                    <div class="form-group"> 
                        {{ form.csrf_token() }}
                            {% if not form.token.errors %}
                                <label for="exampleInputEmailAddress" class="">Token</label>
                                <div class="position-relative has-icon-right">
                                    {{form.token(class_='form-control input-shadow', placeholder_="TOKEN")}}
                            
                                <div class="form-control-position">
                                    <i class="fa fa-key"></i>
                                </div>
                                </div>
                            {% endif %}
                            {% if form.token.errors %}
                                {% for errors in form.token.errors %}
                                <label for="exampleInputUsername" class="sr-only">TOKEN</label>
                                <div class="position-relative has-icon-right">
                                    {{form.token(class_="form-control input-shadow is-invalid",placeholder="Token")}}
                                </div>
                                <div class="alert alert-danger m-1 p-1 text-center">
                                    <small id="passwordHelp" class="">
                                        {{errors}}
                                    </small>      
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% with messages = get_flashed_messages(with_categories=True)%}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{category}} text-center m-1 p-1" role="alert">
                                            {{message}}
                                        </div>
                                    {% endfor%}
                                {% endif %}
                            {% endwith %}
                            <!-- <input type="text" id="exampleInputEmailAddress" name="token" autocomplete="off"
                                style="text-align:center;" class="form-control input-shadow" placeholder="TOKEN"> -->
                          
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block mt-3">Enviar Token</button>
                    <div class="card-footer text-center py-3">
                        <p class="text-warning mb-0">Não recebi o token<a href="{{url_for('auth.token_resend')}}"> Gerar outro token
                                novamente</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}